/* extra styles */

.table-station {
    width: 10%;
}

.table-time {
    width: 15%;
}

.table-report {
    width: 75%;
}

.div-report {
    margin: 5px;
}

.input-report {
    width: 75% !important;
}
